<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Contactos</title>
  <link rel='stylesheet' href='/stylesheets/contactos.css' />
</head>
<body>
  <h1>Contactos <%= modelo.length %></h1>
  <script src="./script.js"></script>

  <div class="botones" style="display: flex; justify-content: center; gap: 10px;">
    <a href="/add" class="dd">
      <i></i>
      <i></i>
      <span>Añadir</span>
    </a>

    <a href="/" class="dd">
      <i></i>
      <i></i>
      <span>Volver</span>
    </a>
  </div>

  <div class="contenedor">
    <% for (const agenda of modelo) { %>
      <div class="contacto">
        <img src="<%= agenda.img %>" alt="Imagen de <%= agenda.nombre %>">
        <div class="contenido" style="display: flex; flex-direction: column; height: 100%;">
          <p>Nombre: <%= agenda.nombre %></p>
          <br>
          <p>Teléfono: <%= agenda.numero %></p>
          <p>Descripción: <%= agenda.descripcion %></p>
          
          <div class="acciones" style="margin-top: auto;">
            <a href="/update/<%= agenda.id %>" class="btn">Actualizar</a>
            <a href="/delete/<%= agenda.id %>" class="btn">Eliminar</a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</body>
</html>
